*{
   padding: 0;
   margin: 0;
   border: 0;
}
*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
nav,footer,header,aside{display: block;}
html, body{
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{
   font-size: inherit;
   font-weight: 400;
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none;   /* Chrome/Safari/Opera */
   -khtml-user-select: none;    /* Konqueror */
   -moz-user-select: none;      /* Firefox */
   -ms-user-select: none;       /* Internet Explorer/Edge */
   user-select: none;           /* Non-prefixed version, currently
                                   not supported by any browser */
}

:root {
   --color-green: #00ff90;
   --color-blue: #006cff;
   --color-grey: #8e8e8e;
 }

 p{
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none;   /* Chrome/Safari/Opera */
   -khtml-user-select: none;    /* Konqueror */
   -moz-user-select: none;      /* Firefox */
   -ms-user-select: none;       /* Internet Explorer/Edge */
   user-select: none;           /* Non-prefixed version, currently
                                   not supported by any browser */
 }

.smart_content {
   width: 100%;
   height: 100%;
   position: relative;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
}
.fone{
   background-color: #ece89d00;
   background-image: radial-gradient(ellipse at center, #4d667470 0%, #143548 75%, #021523 100%);
}
#myVideo {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
}
.global_flex_center{
   display: flex;
   justify-content: center;
   align-content: center;
   text-align: center;
   align-items: center;
}
.effect_text{
   -webkit-animation-name: example; /* Chrome, Safari, Opera */
   -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
   animation-name: example;
   animation-duration: .5s;
}
@-webkit-keyframes example {
   0% { opacity: 0; }
   25% { opacity: 0.3; }
   50% { opacity:0.4; }
   75% { opacity:0.6; }
   100% { opacity:0.7; }
}



.check{
   position: absolute;
   display: flex;
   flex-direction: row;
   margin: 10px;
   display: flex;
}
.checkBtn{
   padding: 5px;
   background: none;
   color: black;
   border: 1px solid black;
   margin-left: 10px;
}
.checkBtn:hover{
   background-color: var(--color-blue);
   color: white;
}
