.window{
   color: white;
   display: flex;
   justify-content: space-between;
   font-size: 18px;
   height: 100%;
}
.window_help{
   display: flex;
   align-items: center;
}
.window_info{
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
   margin-right: 40px;
}
.window_info h1{
   color: var(--color-blue);
   font-size: 20px;
   font-weight: 700;
}