.smart_bot{
   align-items: flex-end;
   width: 100%;
   height: 100%;
}
.smart_bot_box{
   width: 50%;
   height: 50%;
   color: white;
   font-weight: 700;
   font-size: 18px;
   line-height: 30px;
   justify-content: center;
   align-items: center;
   padding: 20px;
}
.smart_bot_box h2{
   color: white;
   margin-bottom: 20px;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 24px;
}
.smart_bot_btn_box{
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}
.smart_bot_btn {
   padding: 10px;
   background: none;
   border: 1px solid #00ff90;
   color: #cfcfcf;
   font-size: 18px;
   margin-top: 30px;
   font-weight: 700;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.smart_bot_btn:hover {
   background-color: #00ff90;
   border: none;
   color: white;
   cursor: pointer;
}
.smart_bot_btn_no {
   border: 1px solid #ff0060;
}
.smart_bot_btn_no:hover {
   background-color: #ff0060;
   border: none;
   color: white;
   cursor: pointer;
}