.smart_information{
   width: 100%;
   height: 100%;
}
.smart_information_box{
   width: 50%;
   height: 50%;
   display: flex;
   align-content: center;
   text-align: center;
   flex-direction: column;
   color: white;
   font-weight: 700;
   font-size: 18px;
   line-height: 30px;
   justify-content: center;
   align-items: center;
}
.smart_information_box h2{
   color: white;
   margin-bottom: 20px;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 24px;
}
.smart_information_btn {
   width: 25%;
   background: none;
   border: 1px solid grey;
   color: white;
   font-size: 24px;
   margin-top: 30px;
   font-weight: 700;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.smart_information_btn:hover {
   background-color: #00ff90;
   border: none;
}