.menu{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.menu_fone{
   width: 80%;
   height: 80%;
}
.menu_fone_header{
   width: 100%;
   height: 60px;
   display: flex;
   background: #0b2535;
   font-size: 18px;
   color: #8e8e8e;
   font-weight: 700;
}
.menu_header_style{
   height: 100%;
   width: 10%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.menu_header_donate{
   color: #006cff;
}
.menu_header_style:hover{
   background: #254456;
   color: white;
   cursor: pointer;
}
.menu_header_exit{
   width: 5%;
}
.menu_box{
   width: 100%;
   height: 100%;
   background: #25445633;
   box-shadow: 0px -4px 3px -2px #0065de;
}
.menu_box_stats{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}
.menu_box_pause{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 150px;
   color: #0b253524;
   width: 100%;
   height: 100%;
   font-weight: 700;
   text-transform: uppercase;
} 
.menu_box_stats_style{
   width: 33.3%;
   height: 100%;
   padding: 75px 30px 30px 30px;
}
.menu_box_stats_style h2{
   color: white;
   font-size: 20px;
   font-weight: 700;
   margin-top: 20px;
   margin-bottom: 5px;
}
.menu_box_stats_style_info{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: white;
   font-size: 14px;
   font-weight: 700;
}
.menu_box_stats_style_info p{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.menu_box_stats_title{
   font-size: 16px;
   margin-top: 10px;
   margin-bottom: 5px;
   color: #828c8b;
   font-weight: 700;
}
.menu_box_stats_dom_info,
.menu_box_stats_dom_biz{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: white;
   font-weight: 700;
   background: #3f5b6a73;
   margin-top: 15px;
   padding: 10px 10px;
}
.menu_box_stats_title{
   font-size: 16px;
   margin-top: 10px;
   margin-bottom: 10px;
   color: #828c8b;
   font-weight: 700;
}
.menu_box_stats_dom_info p,
.menu_box_stats_dom_biz p{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-size: 14px;
   line-height: 20px;
}
.menu_active{
   background: #254456;
   color: white;
   cursor: pointer;
}
