.create_person{
   width: 100%;
   height: 100%;
}
.create_person_content {
   height: 100%;
   padding: 20px;
   display: flex;
   align-items: center;
}
.create_person_left{
   width: 260px;
}
.create_person_left_top{
   margin-bottom: 20px;
}
.create_person_left_top h2{
   color: white;
   font-size: 18px;
   font-weight: 700;
   text-transform: uppercase;
   line-height: 25px;
   text-align: center;
}
.create_sex h2{
   color: #8e8e8e;
   font-size: 16px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
}
.create_sex_box{
   display: flex;
   align-items: center;
   justify-content: center;
}
.create_sex_b{
   margin: 10px;
   width: 110px;
   height: 120px;
   border: 2px solid #8e8e8e;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.create_sex_b img{
   width: 50px;
   height: 50px;
}
.create_sex_b:hover{
   border: 2px solid white;
   cursor: pointer;
}
.create_age{
   margin-top: 10px;
}
.create_age h2{
   color: #8e8e8e;
   font-size: 16px;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 10px;
   text-align: center;
}
.create_age_form{
   display: flex;
   align-items: center;
   margin-top: 10px;
   justify-content: center;
}
.create_age_form input{
   width: 240px;
   height: 50px;
   border: 2px solid #8e8e8e;
   color: white;
   padding: 10px;
   outline: none;
   background: transparent;
   font-size: 18px;
   font-weight: 700;
}
.create_age_form input:hover{
   border: 2px solid white;
}
.create_age_form input:focus{
   border: 2px solid white;
}
.create_person_skin{
   margin-top: 20px;
}
.create_person_skin_box{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.create_person_skin h2{
   color: #8e8e8e;
   font-size: 16px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
}
.create_person_skin_1 img,
.create_person_skin_2 img{
   width: 100px;
   height: 115px;
}
.active_sex_box_1{
   border: 2px solid #006cff; 
}
.active_sex_box_2{
   border: 2px solid #ff0060;
}
.active_skin_box_1{
   border: 2px solid #006cff; 
}
.active_skin_box_2{
   border: 2px solid #ff0060;
}