.welcome{
   flex-direction: column;
   color: white;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 36px;
   height: 100%;
}

.welcome_btn{
   background: none;
   border: 1px solid grey;
   color: white;
   font-size: 18px;
   margin-top: 30px;
   font-weight: 700;
   height: 60px;
   width: 25%;
}
.welcome_btn:hover{
   border: none;
   background-color: var(--color-blue);
} 